@import "_Settings.scss";
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.app {
    color: $base-text-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    nav {
        height:$nabar-height;
    }
    
    .loading {
        .rot {
            display:initial !important;
            font-size: 2.25rem;
            width: 2.25rem;
            animation-name: rotate; 
            animation-duration: 1s; 
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes rotate {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
    }
    
    .drawer {
        height: 100%;
        width:100%;
        transition: transform 0.15s linear;
        position: absolute;
        left: -100%;
        z-index:1000;
        &.show {
            transform: translate(100%, 0);
        }
        .header {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .content {
            width: 300px;
            box-shadow: 0px 0px 10px;
        }
    }

    .pages-holder {
        position: relative;
        height: calc(100% - #{$nabar-height});
        width: 100%;
        .page {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow-y: scroll;
        }
    }
}

// .swipe {
//     visibility: hidden;
//     position: relative;
//     height: 100%;
//     .swipe-wrap {
//         height: 100%;
//         position: relative;
//     }
//     .swipe-wrap > div {
//         float: left;
//         width: 100%;
//         height: 100%;
//         position: relative;
//         display: flex;
//         align-items: flex-start;
//         flex-direction: column;
//     }
//     .swipe-header {
//         width:100%;
//         box-shadow: 0px 0.1em 1em #dddddd;
//         display:flex;
//     }
// }


.navigation-transitions {
    .main {
        background-color:white;
        box-shadow: 0px 0.25em 0.15rem;
    }
    .helper {
        opacity: 0;
        z-index: -1;
    }
    &.animate {
        .helper{
            opacity:1;
            z-index: 1000;
        }
    }
    &.newRoot {
        .helper {
            z-index: 1000;
            animation: blink;
            animation-duration: 0.5s;
        }
    }
    &.addChild {
        .helper {
            animation: hori;
            animation-duration: 1.0s;
        }
    }
    &.replaceChild {
       .helper {
            animation: veri;
            animation-duration: 1.0s;
        }
    }
    &.backspace {
        .helper {  z-index: -1; }
        .main {
            animation: hori;
            animation-duration: 1.0s;
            // animation-timing-function: ease;
            animation-direction:reverse;
        }
    }

    @keyframes blink {
        0%   {
            background-color: transparent;
            opacity:25%;
        }
        100%   {}
    }


    @keyframes scale {
        0%   {transform: initial; }
        25%   {transform: scale(0.9, 0.9);}
        100%   {transform: scale(0.9, 0.9);}
    }

    @keyframes hori {
        0%    {transform: translate(100%,0)  }
        25%   {transform: translate(100%,0) }
        75%   {transform: translate(0, 0)  }
        100%  {transform: translate(0, 0)}
    }

    @keyframes veri {
        0%   {transform: translate(0, 100%) }
        25%  {transform: translate(0, 100%); filter:blur(.5rem) }
        75%  {transform: translate(0, 0%); filter:blur(.5rem) }
        100% {transform: translate(0, 0%)}
    }
}