@import "_Settings.scss";

.app {
    color: $base-text-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    nav {
        height:$nabar-height;
    }
    
    .blur {
        filter: blur(1.5rem);
    }
    .drawer {
        height: 100%;
        width:100%;
        transition: transform 0.15s linear;
        position: absolute;
        left: -100%;
        z-index:1000;
        &.show {
            transform: translate(100%, 0);
        }
        .header {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .content {
            width: 300px;
            box-shadow: 0px 0px 10px;
        }
    }

    .page {
        width: 100%;
        height: calc(100% - #{$nabar-height});
        position: relative;
        display: inline-block;
        vertical-align: top;
        transition: right 0.5s;
        right: 0;
        overflow-y: scroll;
        .split {
            overflow:hidden;
            display: inline-block;
            width:50%;
            height:100%;
            &.w-35 {
                width: 35%;
            }
            &.w-65 {
                width: 65%;
            }
        }
    }
}

.swipe {
    visibility: hidden;
    position: relative;
    height: 100%;
    .swipe-wrap {
        height: 100%;
        position: relative;
    }
    .swipe-wrap > div {
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .swipe-header {
        width:100%;
        box-shadow: 0px 0.1em 1em #dddddd;
        display:flex;
    }
}


.navigation-transitions {
    .newRoot {
        .main {
            animation: blink;
            animation-duration: 1.0s;
            animation-timing-function: ease;
        }
    }
    .addChild {
        .main {
            animation: scale;
            animation-duration: 1.0s;
            animation-timing-function: ease;
        }
        .helper {
            animation: hori;
            animation-duration: 1.0s;
            animation-timing-function: ease;
        }
    }
    .replaceChild {
        .main {
            animation: scale;
            animation-duration: 1.0s;
            animation-timing-function: ease;
        }
        .helper {
            animation: veri;
            animation-duration: 1.0s;
            animation-timing-function: ease;
        }
    }
    .backspace {
        .main {
            animation: scale;
            animation-duration: 1.0s;
            animation-timing-function: ease;
            animation-direction:reverse;
        }
        .helper {
            animation: hori;
            animation-duration: 0.75s;
            animation-timing-function: ease;
            animation-direction:reverse;
        }
    }
    
    @keyframes blink {
        0%   {
            background-color: transparent;
            opacity:25%;
            filter:blur(.5rem);
        }
        100%   {}
    }

    @keyframes hori {
        0%   {transform: initial; }
        25%   {transform: scale(0.75, .75); filter:blur(.5rem) }
        75%   {transform: translate(-100% ,0) scale(0.75, 0.75); filter:blur(.5rem) }
        100%   {transform: translate(-100% ,0) scale(1, 1)}
    }

    @keyframes scale {
        0%   {transform: initial; }
        25%   {transform: scale(0.75, .75); filter:blur(.5rem) }
        100%   {transform: scale(0.75, .75);}
    }

    @keyframes veri {
        0%   {transform: initial; }
        25%   {transform: scale(0.75, .75); filter:blur(.5rem) }
        75%   {transform: translate(0, -100%) scale(0.75, 0.75); filter:blur(.5rem) }
        100%   {transform: translate(0, -100%) scale(1, 1)}
    }
}